<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>Agriwatch</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<style>
			h1 {
				color: rgb(4, 150, 64);
    			font-weight: 700;
    			text-align: center;
			}
		</style>
	</head>
	<body>
	  	<div id="app">
		  	<div class="container">
			  	<h1>Agriwatch</h1>
			  	<table class="table table-bordered table-hover table-condensed">
				 	<tr>
				 		<th>Référence</th><th>Température</th><th>Humidité</th><th>Ruche</th>
				 	</tr>
				 	<tr v-for="row in table">
				 		<td>{{row.reference}}</td>
				 		<td>{{row.temperature}}</td>
				 		<td>{{row.humidity}}</td>
				 		<td v-if="row.beesBoxOpen == 1">Ouverte</td>
						<td v-else>Fermée</td>
				 	</tr>
				</table>
			</div>
	  	</div>

	  	<script src="js/jquery.min.js"></script>
	  	<script src="js/bootstrap.min.js"></script>
	  	<script src="js/vue.js"></script>
	  	<script>
	  		var app = new Vue({
	  			el: '#app',
	  			data: {
	  				table: []
	  			},
	  			mounted: function(){
	  				this.getData();
	  			},
	  			methods: {
	  				getData: function(){
	  					var self = this;
	  					$.ajax({
						    url 		: 'http://localhost/agriwatch/web/api/cooltainers',
						    type 		: 'GET',
						    data 		: 'token=123456789',
						    dataType	: 'json',
						    success 	: function(json, status){
						    	self.table = json;
						    }
						});
						setTimeout(this.getData, 5000);
	  				}
	  			}
	  		});
	  	</script>
	</body>
</html>